<div fxLayout="row" class="main-header" fxLayoutAlign="start center" >
  <div fxFlex="20" fxFlexOffset="5">
    <h2><a class="main-title" routerLink="/" routerLinkActive="active">Crypto currency</a></h2>
  </div>
  <div class="main-header-actions" fxFlex="80" fxFlexOffset="10" fxLayoutAlign="end center">
    <a class="main-title-icon" (click)="refresh()">
      <i class="material-icons">refresh</i>
    </a>
    <a class="main-title-icon" routerLink="/settings" routerLinkActive="active">
      <i class="material-icons">settings_applications</i>
    </a>
  </div>
</div>
