.main-header {
  background-color: #fafafa;
  height: 60px;
  border-bottom: solid 1px #6a6a6a;
  margin-bottom: 30px;
}

.main-title {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 20px;
}

.main-title-icon {
  color: cadetblue;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 20px;
}


.main-header-actions {
  margin-right: 30px;
}